{% extends "base.html" %}

{% block sidebar %}
{% include "sidebar.html" with active="autoscale" %}
{% endblock %}

{% block header %}
<h1>Autoscale</h1>
{% endblock %}

{% block bar %}
<div class="bar">
  <a href="/">dashboard</a> <span class="arrow">></span>
  autoscale
</div>
{% endblock %}

{% block content %}
    <ul>
      {% for item in list %}
      <li>{{ item.ID }} - {{ item.StartTime }} - {{ item.EndTime }} - {{ item.Alarm.Name }} - {{ item.Successful }} - {{ item.Error }} - {{ item.Action.Name }}</li>
      {% endfor %}
    </ul>
{% endblock %}
